.airportinfo {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px dotted black;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datepicker {
    height: 45px;
    border-radius: 5px;
}

.submitbutton {
    height: 45px;
    border-radius: 5px;
}
.datelabel {
    font-size: 15px;
    padding-bottom: 10px;
}

label {
    font-size: 20px;
}

#queryInput {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
